<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a style="margin: 0 20px" id="navbar-brand" href="/">Plantsy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navUnique" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Plants
                </a>
                <div id="Plants" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#each plant}}
                    <a class="plant_click dropdown-item" data-id={{id}} href="#">{{name}}</a>
                    {{/each}}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Login</a>

                

            </li>
            
                       <li class="nav-item">
                <a class="nav-link disabled" id="navUnique" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" id="navUnique" href="#">F.A.Q</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        </div>
</nav>


<div class="jumbotron">
    <div class="container-fluid">
        <img src="/assets/plantsy.png" alt="logo" />
        <h1> Plantsy</h1>
    </div>
</div>
<br>
<br>
<h1 class="text-center" style="padding: 0 100px">
    <strong id="display_name">{{headPlant.name}}</strong>
</h1>
<br>
<br>

<h4 style="padding: 0 100px">
    <strong>Description</strong>
</h4>
<hr>


 
      {{!-- <div class = "wrapper">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" href="#">Add Plant</button>
      </div>
   
      <div class = "wrapper">
          <img src="https://i.pinimg.com/originals/c2/9c/94/c29c94214bafbc1c2fcc0e458982f762.jpg" id="flowerImg" alt="QR Code" height="200" width="200">
      </div> --}}

<p id="display_description" style="padding: 0 100px">{{headPlant.description}}</p>

<hr>
<hr>
<hr>

<h4 style="padding: 0 100px">
    <strong>Instructions</strong>
</h4>
<hr>
<p id="display_instructions" style="padding: 0 100px">{{headPlant.instructions}}</p>
<br>
<hr>

